pkgbase = python-sphinxcontrib-applehelp
	pkgdesc = Sphinx extension which outputs Apple help books
	pkgver = 1.0.8
	pkgrel = 3
	url = https://github.com/sphinx-doc/sphinxcontrib-applehelp
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-applehelp.git#tag=1.0.8
	b2sums = 8b3a89617de019a78da1b57c5c9f73d7ada5a2ceaa6eb437e3ca1d38e2708aff3b11aafa9f88044340a8897672103c41fe8d5379a1b4f6fbea02479eedbb17fe

pkgname = python-sphinxcontrib-applehelp
